/** @format */
@import './reset.css';

/* -----------------That janky CSS-------------------------------------------------- */

/* Figure out the media queires monday */

/* @media (min-width: 400px); */
* {
  box-sizing: border-box;
}
.headhancho {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 100px;
  align-items: center;
  background-color: #ab2a19;
  text-decoration: none;
}
.headhancho-btn-box {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  margin-right: 50px;
  column-gap: 30px;
}
.img {
  padding-right: 50px;
}
.icon {
  display: flex;
  justify-items: space-between;
  column-gap: 20px;
  text-decoration: none;
}
.el-hefe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.inventory-btn {
  display: flex;
  height: 30px;

  background-color: #ed6b5a;
  border-radius: 5px;
  text-decoration: none;
}
.link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formula {
  height: 50%;
  width: 50%;
  justify-content: center;
  row-gap: 10px;
}

.form {
  border: solid black 1px;
  width: 80%;
}
.shelfie {
  font-size: 35px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
}
.formbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 50px; */
}

.formbutton {
  box-sizing: border-box;
  background-color: green;
  left: -100px;
}

.app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.formation {
  box-sizing: border-box;
  height: 60vh;
  width: 30vw;
  box-shadow: 2px 5px gray;
  border: none;
  display: flex;
  margin-left: 300px;
  border-radius: 5%;
  margin-top: 50px;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  background-color: #3ad886;
  /* padding-left: 200px; */
}

.firstimage {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.f-btn {
  background-color: #ed6b5a;
  border-radius: 10%;
  color: #000;
  font-weight: bolder;
}

.input-holder {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-top: 10px;
  row-gap: 20px;
  /* row-gap: 30px; */
}
.btn-box {
  box-sizing: border-box;
  display: flex;
  column-gap: 200px;
  padding-top: 0px;
}

p {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  padding-top: 0px;
  font-size: 20px;
}

.firstimage {
  width: 380px;
  height: 210px;
  border: outset;
  -webkit-background-composite: 0.9;
}
